@Styles.Render("~/Content/home-browse.css")
<div class="featured">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="align-center">
                    <div class="col-md-1">
                        <i class="fa fa-lightbulb-o fa-5x" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-11">
                        <h2 class="featured-main-text"> And My meme for today is...</h2>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>