@Styles.Render("~/Content/home-browse.css")
@Scripts.Render("~/Scripts/browse.js")
@using EFModels;
<div class="featured">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="align-center">
                    <div class="col-md-2">
                        <i class="far fa-lightbulb"></i>
                    </div>
                    <div class="col-md-10">
                        <h2 class="featured-main-text"> And My meme for today is...</h2>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container browse-container" id="thumbnail-container">
</div>
<div class="spinner" id="load-animation">
    <div class="bounce1 load-animation-bubble"></div>
    <div class="bounce2 load-animation-bubble"></div>
    <div class="bounce3 load-animation-bubble"></div>
</div>