@Styles.Render("~/Content/home-index.css")
<div class="featured">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="align-center">
                    <img class="featured-img" src="~/IMG/humor-icon-white.png" />
                    <h1 class="featured-main-text">Say Hi to Memosa</h1>
                    <h3>The only meme maker you'll ever need!</h3>
                    <p><i class="fa fa-check" aria-hidden="true"></i> Lightweight</p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> Powerful</p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> Responsive</p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> Free</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="service-align-center">
                    <i class="fa fa-list fa-5x" aria-hidden="true"></i>
                    <h2>Browse</h2>
                    <p>
                        Browse a wide variety of memes to choose from.
                        Use search function to find exactly what you're looking for.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-align-center">
                    <i class="fa fa-puzzle-piece fa-5x" aria-hidden="true"></i>
                    <h2>Create</h2>
                    <p>
                        Create memes with available source pictures
                        or your own material uploaded directly from your device
                        or by link.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-align-center">
                    <i class="fa fa-download fa-5x" aria-hidden="true"></i>
                    <h2>Download</h2>
                    <p>
                        Download memes that you've created straight to your device.
                        And it's completely free!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>